@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';
.product_card {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;

  .product_card_img {
    @include flex-center($direction: row);
    padding: 1rem;

    img {
      width: 12rem;
      height: 12rem;
      object-fit: cover;
      object-position: top;
      filter: drop-shadow(0 80px 30px #0007);
      margin: 1.5rem;
    }
  }

  .product_card_body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .product_card_desc {
      @include flex-center($direction: row);
      justify-content: space-between;

      &.disabled,
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
