@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.product_list {
  margin-top: 3.5rem;
  .product_list_title {
    font-size: $font-size-xl;
    font-weight: $font-weight-light-bold;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .product_list_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;

    @include responsive($breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include responsive($breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include responsive($breakpoint-xl) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
